<!DOCTYPE html>
<html lang="en" ng-app="MinitienditaCDS">

<head>
    <!-- # Bootstarp -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- # CSS -->
    <link rel="stylesheet" href="./assets/css/general.css">
    <!-- # Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- # Encabezado -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/img/mariposa.png" type="image/x-icon">
    <title>Minitiendita | Pososa</title>
</head>

<body ng-controller="productController" ng-init="getData()">

    <div class="container-fluid">
        <!-- # Contenido -->
        <div class="row d-flex top-nav sticky-md-top px-4 pt-2 shadow text-white">
            <div class="col-12 col-md-10 align-items-center">
                <span class="fs-3 fw-lighter coffee-font"><img src="./assets/img/mariposa.png" height="60"
                        class="me-3 pb-2">Minitiendita Pososa</span>
            </div>
            <div class="col-12 col-md-2 pb-2 pt-0 pt-md-2 text-end">
                <div class="row d-flex flex-row-reverse">
                    <div class="col-2 col-md-4">
                        <i role="button" ng-click="fireContact()" class="bi bi-whatsapp fs-2"></i>
                    </div>
                    <div class="col-2 col-md-4">
                        <i role="button" ng-click="fireTransfer()" class="bi bi-credit-card-2-back fs-2"></i>
                    </div>
                    <div class="col-2 col-md-4">
                        <i role="button" ng-click="fireCode()" class="bi bi-qr-code fs-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="alert alert-warning" role="alert">
                <div class="row">
                    <div class="col-12">
                        <strong>¡Pronto contaremos con mas productos!</strong> Mantente en sintonía para nuevas
                        actualizaciones.
                    </div>
                    <div class="col-12 d-flex flex-row-reverse mt-3 mt-md-0">
                        <small><strong>Última actualización:</strong> 11-Agosto-2022</small>
                    </div>
                </div>
            </div>
            <p class="fs-2"><span class="fas fa-bottle-water"></span> Listado de productos</p>
            <hr>
            <!-- # Tarjetas de producto -->
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3" ng-repeat="product in products | orderBy: '-status'">
                    <div class="card mb-3 mb-md-5 shadow border-0">
                        <div class="row">
                            <div class="col-4 col-md-12">
                                <img style="height: 150px; object-fit: contain;" src="{{ product.imgUrl }}" alt=""
                                    class="mt-3 mb-3 mb-md-0 ms-3 ms-md-0 card-img-top">
                            </div>
                            <div class="col-8 col-md-12">
                                <div class="card-body mt-0">
                                    <span class="fs-4">{{ product.name }}</span><br>
                                    <span class="fs-6 text-muted fst-italic">{{ product.price | currency }}</span>
                                    <div class="row mt-5 mt-md-0">
                                        <div class="col-6 mt-4 mt-md-0">
                                            <span class="badge text-dark ps-0 fw-lighter fst-italic"
                                                ng-if="product.desc">{{
                                                product.desc }}</small>
                                        </div>
                                        <div class="text-end col-6 mt-4 mt-md-0">
                                            <span ng-if="product.status" class="badge gradient">En stock</span>
                                            <span ng-if="!product.status" class="badge bg-danger">Agotados</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- # Tarjetas de producto -->
        </div>
        <!-- # Contenido -->

        <!-- # Inicio del pie de página -->
        <div class="row d-flex gradient">
            <div class="container py-4 px-5">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4 mb-md-0 pe-1 pe-lg-5">
                        <p class="fs-4 text-white mb-0 pb-0 d-flex flex-row align-items-center fw-lighter coffee-font">
                            <img src="./assets/img/mariposa.png" height="50" class="me-3 pb-2">Minitiendita Pososa</p>
                        <div class="mt-0 text-white fst-italic pt-0 text-justify">
                            <small>La minitiendita pososa se especializa en la venta y compra de productos de índole
                                alimenticio para beneficiar a la comunidad en la que se encuentra, permitiendo que las
                                personas de dicha comunidad tengan ala alcance de su mano los productos ofrecidos en
                                esta página.</small>
                        </div>
                    </div>
                    <div class="mt-3 mt-lg-0 col-12 col-sm-6 col-lg-4 mb-4 mb-md-0 pe-1 pe-lg-5 text-white">
                        <p class="fs-5 mb-0 pb-0 d-flex flex-row align-items-center fw-lighter coffee-font">Contactos
                        </p>
                        <hr class="my-2">
                        <div class="mt-0 text-white fst-italic pt-0 text-justify">
                            <label class="text-white fw-bold">Sponsor</label><br>
                            <small>
                                <span class="bi bi-envelope"> tikon.deroga25@gmail.com</span><br>
                                <span class="bi bi-telephone"> 777-535-4835</span>
                            </small>
                        </div>
                        <div class="mt-2 text-white fst-italic pt-0 text-justify">
                            <label class="text-white fw-bold">Admin. de la página</label><br>
                            <small>
                                <span class="bi bi-whatsapp"> 777-130-7347</span><br>
                                <span class="bi bi-whatsapp"> 55-3794-8793</span>
                            </small>
                        </div>
                    </div>
                    <div class="mt-3 mt-lg-0 col-12 col-sm-6 col-lg-4 mb-4 mb-md-0 pe-1 pe-lg-5 text-white">
                        <p class="fs-5 mb-0 pb-0 d-flex flex-row align-items-center fw-lighter coffee-font">Construido
                            con</p>
                        <hr class="my-2">
                        <div class="mt-0 text-white fst-italic pt-0 text-justify">
                            <small>
                                <span class="bi bi-github"> GitHub Pages</span><br>
                                <span class="bi bi-bootstrap"> Bootstrap v5.0</span><br>
                                <span class="fa-brands fa-angular"></span> AngularJS v1.8.2 <br>
                                <span class="fas fa-font"></span> DaFont <br>
                                <span class="fas fa-font-awesome"></span> Font Awesome Icons v6.1.2 <br>
                                <span class="fa-brands fa-artstation"></span> Flaticon <br>
                                <span class="bi bi-bootstrap-fill"> Bootstrap Icons v1.9.0</span><br>
                            </small>
                        </div>
                    </div>
                </div>
                <hr class="bg-white">
                <p class="text-center text-white fst-italic mt-4">Powered by CokerSystems | Todos los derechos reservados 2022
                </p>
            </div>
        </div>
        <!-- # Fin del pie de página -->
    </div>

    <!-- Modal de contactos-->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="card border-0">
                    <div class="card-header gradient">
                        <span class="fs-4 text-white">Contactos</span>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <p><strong>¡Contamos con servicio de pedidos!</strong> Puedes contactarnos a los siguentes
                                números para realizar tus pedidos. <br><small class="text-muted fst-italic">Nota: No incluye
                                    pedidos a domicilio.</small></p>
                        </div>
                        <div class="text-center">
                            <p class="fs-4">
                                Teléfonos:
                            </p>
                            <p class="d-flex justify-content-evenly">
                                <span class="text-muted fst-italic bi bi-whatsapp"> 777 130 7347</span>
                                <span class="text-muted fst-italic bi bi-whatsapp"> 55 3794 8793</span>
                            </p>
                            <div class="col-12 mt-3">
                                <button class="btn btn-secondary col-12" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de transferencias-->
    <div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="card border-0">
                    <div class="card-header gradient">
                        <span class="fs-4 text-white">Transferencias</span>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <div class="col">
                                <p><strong>¡Contamos con servicio de tranferencias!</strong> Si no cuentas con efectivo,
                                    puedes realizar una tranferencia al siguiente número de tarjeta o CLABE bancaria.
                                </p>
                            </div>
                            <img height="100"
                                src="https://www.disfrutaveracruz.mx/wp-content/uploads/2018/09/BANCO-AZTECA-LOGO-02-1024x436.png"
                                alt="">
                            <div class="row mt-3">
                                <div class="col-6 text-center">
                                    <span> CLABE</span><br>
                                    <span class="text-muted fst-italic">1271 8001 6649 0243 15</span>
                                </div>
                                <div class="col-6">
                                    <span> No. de tarjeta</span><br>
                                    <span class="text-muted fst-italic">4198 2101 6250 3550</span>
                                </div>
                                <div class="col-12 mt-3">
                                    <button class="btn btn-secondary col-12" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal del código qr-->
    <div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="card border-0">
                    <div class="card-header gradient">
                        <span class="fs-4 text-white">Código QR</span>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-12">
                                <p><strong>¡Ya contamos con código QR!</strong> Descárgalo para tener a la Minitiendita
                                    Pososa al alcance de tu mano.</p>
                            </div>
                            <div class="col-12">
                                <img height="350" src="./assets/img/frame.png" alt="PososaQR" download>
                            </div>
                            <div class="col-12 mt-3">
                                <button class="btn btn-secondary col-12" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- # AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="./js/app/productsController.js"></script>
<!-- # Sweet Alert -->
<script src="./js/sweetalert.min_1.js"></script>
<link rel="stylesheet" href="./assets/css/sweetalert.css">
<!-- # Bootstrap Bundle-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<!-- # JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

</html>