<!DOCTYPE html>
<html lang="en">

<head>
    <!-- # Sweet Alert -->
    <script src="../js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="../assets/css/sweetalert.css">
    <!-- # Bootstarp -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- # CSS -->
    <link rel="stylesheet" href="../assets/css/general.css">
    <!-- # Encabezado -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minitiendita | CDS</title>
</head>

<body>

    <!-- # Navegador -->
    <div class="col-2">
        <img src="" alt="LOGO">
        <hr>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./botanas.html">Botana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="./dulces.html">Dulces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./galletas.html">Galletas</a>
            </li>
        </ul>
    </div>
    <!-- # Navegador -->

    <!-- # Contenido -->
    <div class="col-10">
        <div class="container">
            
        </div>
    </div>
    <!-- # Contenido -->

</body>

</html>